<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">

            <h1>Игроки</h1>

            <ul class="list-group">
                <a ng-repeat="player in players" ng-click="openDetails()" class="list-group-item">
                    {{player.firstName + " " + player.lastName}}
                </a>
            </ul>

            <h1>Новый</h1>

            <form ng-submit="addPlayer()">
                <input type="text" ng-model="firstName" size="30">
                <input type="text" ng-model="lastName" size="30">
                <input class="btn-primary" type="submit" value="Добавить">
            </form>

        </div>
    </div>
</div>
